body{
  font-family: Sans-Serif;
  background: #7FFFD4;
  color: black;
  
} 
.welcome{
  color: #56f9;
  font-size: 27px;
  
} 
.info{
  border: 2px solid violet;
  padding:  20px;
} 
b{color:red;}
img{
  width: 100%;
  will-change: 100%;
}